<!-- #00FFAB
#14C38E
#B8F1B0
#E3FCBF-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Personal, Luxshan, CSE, Student, Moratuwa">
    <meta name="description" content="Thavarasa Luxshan is a Computer Science and Engineering student at the University of Moratuwa, Sri Lanka.">
    <meta name="author" content="Luxshan Thavarasa">
    <title>Thavarasa Luxshan | CSE Student</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-5.0.2/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/MyCSS/my-style.css"/>
    <script src="/assets/bootstrap-5.0.2/js/bootstrap.bundle.min.js" ></script>

</head>
<body>


<header class="shadow-sm fixed-top">
    <div class="navbar ">
        <div class="logo"><a href="#">Luxshan Thavarasa</a></div>
        <ul  style="margin: 0" class="links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="#">About Me</a></li>
            <li><a href="/views/project.html">Projects</a></li>
            <li><a href="/views/resume.html">Resume</a></li>
        </ul>
        <a href="#myFooter" class="contact_btn">Contact Me</a>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="dropdown_menu">
        <li class="menu_item" ><a href="/index.html">Home</a></li>
        <li class="menu_item" ><a href="#">About Me</a></li>
        <li class="menu_item" ><a href="/views/project.html">Projects</a></li>
        <li class="menu_item" ><a href="/views/resume.html">Resume</a></li>
        <a  href="#myFooter" class="contact_btn menu_item">Contact Me</a>
    </div>
</header>

<main>
    <div id="about"  class="container-fluid p-sm-1 p-lg-5 pt-lg-0">
        <div class="row">
            <h4 class="mt-5 pt-3 text-center text-decoration-underline">Biography</h4>
            <div style="background:transparent" class="card shadow-sm p-3 mb-3 rounded-3">
                <div  class="about">
                    <div class="img text-center">
                        <img style="max-width: 180px;" class="rounded-circle   mt-lg-1 p-lg-1" src="/assets/default/profile.jpg">
                    </div>
                    <p style="text-align: justify" class="justify-content-md-center pt-sm-1  pt-lg-3">
                        <strong>Introduction: </strong> I am Luxshan Thavarasa, a Computer Science & Engineering undergraduate student
                        at the University of Moratuwa, with a passion for problem-solving and web development.
                        My skills include frontend web development using HTML, CSS, JS, Bootstrap, and backend
                        development with PHP and MySQL. Additionally, I am proficient in programming languages
                        such as Python, Java, and C++. I am a quick learner with excellent critical thinking,
                        communication, and time management skills. As an avid learner, I have developed a strong
                        interest in programming, and I am always eager to expand my knowledge and skills in the field.
                    </p>

                    <p style="text-align: justify" class="justify-content-md-center pt-sm-1  pt-lg-2">
                        <strong>Early Childhood: </strong>I was born in Puthukkudiyiruppu (Mullaitivu). I started my education
                        at the primary level at Kn/Tharmapuram G.T.M.S. In 2009, when I was in grade 4, the
                        Sri Lankan civil war reached its peak. Due to the war, my family had to migrate from our
                        hometown to various places until the war came to an end at Mullaivaikkal. After the war,
                        we were accommodated in a government camp. I continued my studies at a school within the camp.
                        Later, we were taken care of by one of our relatives and moved to Vavuniya where I
                        continued my studies at a combined school arranged by Mullaitivu schools at Gamini
                        Maha Vidyalaya Vavuniya in grade 5. I took my scholarship exam and passed it with 146 marks.
                    </p>


                    <p style="text-align: justify" class="justify-content-md-center pt-sm-1  pt-lg-2">
                        <strong>High School: </strong>  In 2011, I moved from primary school to secondary school at Mu/Visuvamadu Maha Vidyalayam,
                        where I completed my educational journey from grade 6 to 13. I passed the O/L exam with
                        8 A's and 1 B, and then I chose the physical stream as my advanced level stream because
                        I had been more interested in mathematics since grade 10. I participated in most of the
                        competitions organized by the zone, such as the Mathematics Olympiad, Mathematics Quiz,
                        Social Science Quiz, Science Quiz, and English Competition, and I was selected within the
                        first 3 persons. However, I couldn't be selected within the top 3 in the Provincial level,
                        so I worked harder and finally got selected for the Mathematics Quiz in 2018, which was a
                        group competition. As a member of the North Province team, we achieved 2nd runner-up in the
                        all-island level for mathematics.<br>
                        During my advanced level studies, I fell in love with my partner, and this school not only
                        gave me knowledge but also gave me a life partner. I was a prefect, which allowed me to
                        improve my leadership qualities and time management skills. I had a small circle of friends
                        with whom I not only had fun but also continued to focus on academics. I am thankful to my
                        parents for their support throughout my education. Thanks to their guidance and
                        encouragement, I was able to join the University of Moratuwa with a merit pass in the
                        advanced level examination with 3 A's.
                    </p>
                    <p style="text-align: justify" class="justify-content-md-center pt-sm-1  pt-lg-2">
                        <strong>Undergraduate studies: </strong> After joining the university, I became increasingly interested in computer science
                        and engineering. By achieving a high GPA in the first semester, I was able to select
                        my first-choice department (CSE). Since then, I have been acquiring valuable skills and
                        knowledge for my future career. In fact, I was given the opportunity to develop and
                        maintain the website of a senior lecturer, Dr. Uthayasanker Thayasivam. Through this
                        experience, I gained practical skills in website development, including HTML, CSS,
                        JavaScript, Bootstrap, and backend development using PHP and MySQL. I also learned
                        about website optimization. During my studies, I have made a diverse group of friends
                        across different departments. In my second year, I decided to specialize in software
                        (CSE Main) as it is an area of great interest to me. However, I have also developed a
                        curiosity for researching and learning more about neural science and have started to
                        pursue this interest by taking some basic courses on Coursera. Ultimately, my goal is
                        to become a well-rounded individual both personally and professionally as I move on from
                        the University of Moratuwa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>


<div id="myFooter" class="container-fluid myFooter">
    <footer class="pt-5 p-2">
        <div class="row">

            <div class="col-md-6 col-lg-3 col-sm-12 pb-sm-2">
                <h5>Contact details</h5>
                <ul class="nav flex-column">
                    <li class="nav-item p-0"><a  class="nav-link p-0 text-muted">Phone No: 0773038402</a></li>
                    <li  class="nav-item p-0"><a  class="nav-link p-0 text-muted">Email: Luxshanlux2000@gmail.com</a></li>
                    <li class="nav-item p-0"><a  class="nav-link p-0 text-muted">Address: Neththaliyaru, Visuvamadu West, Visuvamadu, Mullaitivu.</a></li>
                </ul>
            </div>


            <div class="col-md-6 col-lg-3 col-sm-12 pb-sm-2 pb-2">
                <h5>My links</h5>
                <ul class="nav flex-column">
                    <li class="nav-item p-0"><a href="/index.html" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item p-0"><a href="#" class="nav-link p-0 text-muted">About Me</a></li>
                    <li class="nav-item p-0"><a href="/views/project.html" class="nav-link p-0 text-muted">Projects</a></li>
                    <li class="nav-item p-0"><a href="/views/resume.html" class="nav-link p-0 text-muted">Resume</a></li>
                </ul>
            </div>

            <div class="col-md-12 col-lg-6 col-sm-12  mb-3">
                <form>
                    <h5>Put Your Valuable Feedback</h5>
                    <p>As someone who is always striving to improve, I would love to hear your feedback.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Your Feedback</label>
                        <input style="background-color: #f1f8e9;" id="newsletter1" type="text" class="form-control text-dark" placeholder="Comment">
                        <button class="btn btn-success" type="button">Post</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column  row text-center  border-top">
            <ul class="list-unstyled justify-content-center d-flex pt-3">
                <li ><a class="link-dark" href="https://www.linkedin.com/in/luxshan-thavarasa/"><i class="fa-brands text-info fa-2x fa-linkedin"></i></a></li>
                <li ><a class="link-dark" href="https://github.com/Luxshan2000"><i class="fa-brands text-dark fa-2x fa-github"></i></a></li>
                <li ><a class="link-dark" href="https://web.facebook.com/lux.luxshan.5"><i class="fa-brands text-info fa-2x fa-facebook"></i></a></li>
                <li ><a class="link-dark" href="https://wa.me/+94773038402?text=Hey!%20LuxShan"><i class="fa-brands fa-2x text-success fa-whatsapp"></i></a></li>
                <li ><a class="link-dark" href="mailto: luxshanlux2000@gmail.com"><i class="fa-regular fa-2x text-info fa-envelope"></i></a></li>
            </ul>
        </div>
        <div class="d-flex flex-column text-center  row justify-content-center">
            <p>Thavarasa Luxshan</p>
            <p>&copy;2023 All rights reserved.</p>
        </div>
    </footer>
</div>

<script src="/assets/jquery/jquery-3.6.4.min.js"></script>
<script>
    const toggleBtn = document.querySelector('.toggle_btn');
    const toggleBtnIcon = document.querySelector('.toggle_btn i');
    const dropdownMenu = document.querySelector('.dropdown_menu');
    const menuItems = document.querySelectorAll('.menu_item');

    toggleBtn.onclick = function() {
        dropdownMenu.classList.toggle('open');
        toggleBtnIcon.classList.toggle('fa-xmark');
        toggleBtnIcon.classList.toggle('fa-bars');
    };

    menuItems.forEach(item => {
        item.onclick = function() {
            dropdownMenu.classList.toggle('open');
            toggleBtnIcon.classList.toggle('fa-xmark');
            toggleBtnIcon.classList.toggle('fa-bars');
        };
    });


</script>

<button id="go-up-btn">
    <i class="fa-solid fa-2x fa-circle-chevron-down"></i>
</button>

<script>
    const goUpBtn = document.querySelector('#go-up-btn');

    window.addEventListener('scroll', () => {
        if (window.pageYOffset > 100) {
            goUpBtn.classList.add('show');
        } else {
            goUpBtn.classList.remove('show');
        }
    });

    goUpBtn.addEventListener('click', () => {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
</script>
</body>
</html>


