<!-- #00FFAB
#14C38E
#B8F1B0
#E3FCBF-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Personal, Luxshan, CSE, Student, Moratuwa">
  <meta name="description" content="Thavarasa Luxshan is a Computer Science and Engineering student at the University of Moratuwa, Sri Lanka.">
  <meta name="author" content="Luxshan Thavarasa">
  <title>Thavarasa Luxshan | CSE Student</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap-5.0.2/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/MyCSS/my-style.css"/>
  <script src="/assets/bootstrap-5.0.2/js/bootstrap.bundle.min.js" ></script>

</head>
<body>



<main>
  <div id="resume">
    <script>
      window.onload = function() {
        // Get the height of the user's screen
        var screenHeight = window.innerHeight;

        // Set the height of the embed element to the screen height
        var embedElement = document.getElementById('pdf-embed');
        embedElement.setAttribute('height', screenHeight + 'px');
      }
    </script>
    <embed id="pdf-embed" src="/assets/bio/resume.pdf" type="application/pdf" width="100%" />

  </div>


</main>

</body>
</html>


