*{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth; /* for older versions of Safari */
}
body{
    margin: 0;
    background-color: #f1f8e9;
}

.carousel-item{
    position: relative;
}

.foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 41, 24, 0.8), rgba(0, 41, 24, 0.8));
    opacity: 1;
}
main{
    min-height: 400px;
}
li{
    list-style: none;
    padding: 0 1rem;
}
a{
    text-decoration: none;
    color: #043b2e;
    font-size: 1rem;
}

header{
    margin: 0;

    padding: 0 0rem;
    position: absolute;
}

a:hover{
    color: #0075fb;
    transition-duration: 500ms;
}

header{
    position: relative;
    padding: 0 2rem;
    background-color: #00FFAB;
}

.navbar{
    width: 100%;
    height: 55px;
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #005b38;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.contact_btn{
    background-color: #034935;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.2ms;
    padding:0.5rem 2rem;
}

.contact_btn:hover{
    scale: 1.05;
    background-color: #034935;
    color: white;
}

.contact_btn:active{
    scale: 0.95;
}

.MobileImageSlider{
    display: none;
}

.dropdown_menu{
    z-index: 9999;
    margin-top: 5px;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(0, 255, 171,0.6);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height .2s cubic-bezier(0.175,0.885,0.32,1.275);
}

.dropdown_menu.open{
    height: 210px;
}

.dropdown_menu li{
    padding: 0.5rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .contact_btn{
    display: flex;
    margin: 0 15% 10px 15%;
    align-items: center;
    justify-content: center;
}

@media(max-width: 992px){
    .dropdown_menu{
        display: block;
    }
    .navbar .links,
    .navbar .contact_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
}

@media(max-width: 600px){
    .DesktopImageSlider{
        display: none;
    }
    .MobileImageSlider{
        display: block;
    }
    .show{
        display: none;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

.myFooter{
    background-color: #034935;
    position: relative;
    bottom: 0;
}


#go-up-btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #10db7e;
    color: #01291a;
    border: none;
    padding: 5px 5px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

#go-up-btn.show {
    opacity: 1;
}

#go-up-btn i{
    rotate: 180deg;
}

.readMore{
    background-color: #B8F1B0;
}

.readMore:hover{
    background: #1b9a59;
    transition: background-color ease-in-out;
    transition-duration: 100ms;
}
.readMore:active{
    background: #05552c;
    transition: background-color ease-in-out;
    transition-duration: 100ms;
}

.filter-button:hover{
    background-color: #7cb272;
    transition: opacity;
    transition-duration: 100ms;
}

.filter-button{
    background-color: #B8F1B0;
}

.filter-button.open{
    background-color: #7cb272;
}



